<mat-toolbar color="primary" class="toolbar">
    <div class="left-element" name="app-title">
        <a [innerHTML]="text" class="no-style" matTooltip="Home" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"> </a>

    </div>
    <div class="center-element">
        <app-artist-search [parentComponentData]="_parentComponentData"> </app-artist-search>
    </div>

    <div class="right-element">
        <button mat-button class="button-compare" [routerLink]="'/compare'" [routerLinkActive]="'active'" [ariaCurrentWhenActive]="'page'">
            Compare
            <mat-icon fontIcon="compare"></mat-icon>
        </button>
    </div>

    <div class="right-element-small">
        <button mat-fab class="button-compare-small" matTooltip="Compare" color="primary" aria-label="Example icon-button with a heart icon" [routerLink]="'/compare'" [routerLinkActive]="'active'" [ariaCurrentWhenActive]="'page'">
            <mat-icon fontIcon="compare"></mat-icon>
        </button>
    </div>

</mat-toolbar>