<mat-toolbar color="primary" class="toolbar">
    <div class="left-element" name="app-title">
        <a [innerHTML]="text" class="no-style" matTooltip="Home" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"> </a>

    </div>
    <div class="center-element">
        <app-artist-search [parentComponentData]="_parentComponentData"> </app-artist-search>
    </div>

    <div class="right-element">
        <button #compareButton mat-button class="button-compare" [routerLink]="currentRoute" [routerLinkActive]="'active'" [ariaCurrentWhenActive]="'page'">
            {{buttonText}}
            <mat-icon fontIcon="{{buttonIcon}}"></mat-icon>
        </button>
    </div>

    <button mat-fab #floatCompareButton matTooltip="{{buttonText}}" class="floating-button" [routerLink]="currentRoute" [routerLinkActive]="'active'" [ariaCurrentWhenActive]="'page'"><mat-icon fontIcon=" {{buttonIcon}}"></mat-icon></button>

</mat-toolbar>