@keyframes animate {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.welcome-container {
    background-color: #673ab7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.welcome-header {
    font-size: 37px;
    font-weight: 700;
    line-height: 56px;
    display: block;
}

mat-form-field {
    width: 300px;
    margin-top: 20px;
}

.grid-container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-gap: 10px;
    margin-top: 20px;
}

.example-card {
    animation: animate 0.6s ease forwards;
    justify-content: center;
    margin: 2px 0px;
    width: 400px;
    /* background-color: #ffffffc2; */
    color: rgb(63, 63, 63);
    transition: box-shadow ease 0.4s;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 5px 5px 10px rgba(33, 33, 33, .2);
}

.example-card:hover {
    background-color: #673ab7;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(33, 33, 33, .7);
}

.mat-badge-content {
    font-size: 100%;
    transition: background ease 0.4s;
    border-color: #673ab7;
    border-width: 3px;
    border-style: solid;
}

.example-card:hover .mat-badge-content {
    color: #673ab7;
    background: #ffffff;
    border-color: #673ab7;
    border-width: 4px;
    border-style: solid;
}

.example-card:hover .artist-name {
    color: #ffffff;
}

.example-card:hover .listeners {
    color: #ffffff;
}

.example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    /* background-size: cover; */
    height: 70px;
    width: 70px;
}

.artist-name {
    margin-top: 15px;
    /* font-weight: 400;
    font-size: 17px; */
    color: #673ab7;
    font-weight: 550;
    font-size: 1.5em;
    display: block;
}

.listeners {
    color: #683ab7a9;
    font-weight: 500;
    font-size: 1.0em;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1250px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns */
    }
}

@media screen and (max-width: 870px) {
    .example-card {
        width: 90%;
    }
    .grid-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        /* 1 column */
    }
    .artist-name {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 640px) {
    mat-form-field {
        width: 90%;
    }
    .welcome-header {
        font-size: 30px;
    }
    .welcome-header-2 {
        font-size: 16px;
    }
}


/* ------------------------------------------------------ */