<div class="container">
    <div class="welcome-container">
        <h1 class="welcome-header">Welcome to this humble website</h1>
        <h2 class="welcome-header-2">Select a country from the list to see the top 10 artists</h2>
        <mat-form-field class="select-countries" appearance="fill">
            <mat-select [formControl]="countryControl" name="country" (selectionChange)="_getTopArtists()">
                <mat-option *ngFor="let country of countries" [value]="country.value">
                    {{country.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <h2 style="text-align: center;color:rgb(61, 61, 61); font-weight: 100; line-height: 56px;display: block;font-size: 33px">
        Top 10 artists in {{getViewValue(countryControl)}}</h2>
    <!-- <mat-progress-spinner *ngIf="loading" mode="indeterminate" size="70"></mat-progress-spinner> -->
    <div class="grid-container" *ngIf="loading">
        <div class="loader-card" *ngFor="let i of myArray">
            <div class="card_load"></div>
            <div class="card_load_extreme_descripion"></div>
            <div class="card_load_extreme_sub-descripion"></div>
        </div>
    </div>
    <div class="grid-container">
        <mat-card class="example-card" *ngFor="let artist of topArtists; let i = index" (click)="navigateToComponent(artist.mbid)">
            <span matBadge="#{{i + 1}}" matBadgePosition="before" matBadgeSize="large" class="badge"></span>
            <mat-card-header matRipple [matRippleUnbounded]="false" [matRippleColor]="'#0000000f'">
                <img mat-card-avatar class="album-track-thumbnail" [src]="getImageUrl(artist,2)">
                <!--[ngStyle]="{'background': 'url('+getImageUrl(artist,5)+')','background-size': 'cover','background-position': 'center'}"-->
                <mat-card-title class="artist-name">{{artist.name}}</mat-card-title>
                <mat-card-subtitle class="listeners">
                    <p>{{addCommas(artist.listeners)}} listeners</p>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
<!-- [class.mat-elevation-z2]="true" -->
<!-- [src]="getImageUrl(artist,3)" -->