@keyframes animate {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container {
    /* position: relative; */
    /* set position to relative */
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 200px; */
    /* width: 100%; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 400px;
}

.example-card {
    animation: animate 0.6s ease forwards;
    justify-content: center;
    margin: 1px 0px;
    width: 500px;
    background-color: #ffffffc2;
    color: black;
    transition: background-color ease 0.3s;
}

.example-card:hover {
    background-color: #68141413;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(33, 33, 33, .2);
}

.example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
    height: 70px;
    width: 70px;
}

mat-card-title {
    margin-top: 15px;
    font-weight: 400;
}

@media screen and (max-width: 590px) {
    .example-card {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    mat-form-field {
        width: 90%;
    }
}

.center-element {
    /* position: absolute; */
    /* display: flex; */
    /* flex-direction: column; */
    /* set position to absolute */
    /* top: -40%; */
    /* position the element at the center vertically */
    /* left: 50%; */
    /* position the element at the center horizontally */
    /* transform: translate(-50%, -50%); */
    /* center the element */
    /* padding: 20px; */
    /* margin: 0; */
    /* width: 500px; */
}