<div class="container">
    <div class="grid-container">
        <mat-card class="compare-card">
            <div class="details-container">
                <app-artist-search class="search"></app-artist-search>
                <app-artist-details class="details"></app-artist-details>
            </div>
        </mat-card>
        <mat-card class="compare-card">
            <div class="details-container">
                <app-artist-search class="search"></app-artist-search>
                <app-artist-details class="details"></app-artist-details>
            </div>
        </mat-card>
    </div>
</div>