/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f6f6f6;
    /* overflow-y: scroll; */
}

body::-webkit-scrollbar {
    width: 10px;
    /* Set the width of the scrollbar */
    background-color: rgba(0, 0, 0, 0.11);
    /* Set the background color of the scrollbar */
    z-index: 1;
}

body::-webkit-scrollbar-thumb {
    background-color: #754ac0;
    /* Set the color of the scrollbar thumb */
}

.autocomplete-list {
    max-height: none !important;
}

mat-option span {
    /* width: 100%; */
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    overflow: hidden!important;
    display: inline!important;
}