.example-full-width {
    width: 100%;
    max-height: 74px;
}

.example-option-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 50px;
    /* background: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    /* background-image: url('/assets/images/stock.jpg'); */
    background-size: cover;
    background-position: center;
    height: 40px;
    width: 40px;
}

.name {
    /* align-items: middle; */
    margin-left: 4.1px;
    vertical-align: middle;
    /* display: inline-block; */
    font-weight: 500;
    font-size: 1em;
    color: #363636;
}

.listeners {
    /* display: inline-block; */
    /* display: inherit; */
    font-weight: 500;
    color: #6c6c6c;
}

mat-option {
    height: 60px;
}

@media screen and (max-width: 400px) {
    .name {
        font-weight: 500;
        font-size: 15px;
    }
    .example-option-img {
        height: 34px;
        width: 34px;
    }
}

mat-progress-spinner {
    margin-right: 15px;
    margin-bottom: 5px;
}

.search-icon {
    margin-bottom: 3px;
    margin-right: 10px;
}