<mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Search for an artist</mat-label>
    <input type="text" placeholder="Ex. Eminem" aria-label="Search for an artist" matInput [formControl]="artistControl" [matAutocomplete]="auto">
    <mat-icon matSuffix *ngIf="!loading" fontIcon="search" style="color:black;" class="search-icon"></mat-icon>
    <mat-progress-spinner matSuffix *ngIf="loading" mode="indeterminate" diameter="40"></mat-progress-spinner>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectArtist($event.option.value)" class="autocomplete-list">
        <mat-option *ngFor="let artist of filteredArtists | async" [value]="artist">
            <div [ngStyle]="{'background': 'url('+getImageUrl(artist,0)+')','background-size': 'cover','background-position': 'center'}" class="example-option-img"></div>
            <span class="name"> {{ artist.name }}  <small class="listeners"> | {{addCommas(artist.listeners)}} listeners </small></span>

        </mat-option>
        <mat-option *ngIf="(filteredArtists | async)?.length === 0" [disabled]="true">No results found.</mat-option>
    </mat-autocomplete>
</mat-form-field>



<!-- <div *ngIf="selectedArtist">
    <h3>You selected:</h3>
    <div>{{ selectedArtist.name }}</div>
    <div>MusicBrainz ID: {{ mbid }}</div>
</div> -->