.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    /* padding: 50px; */
}

.example-full-width {
    width: 100%;
    max-height: 75px;
}

.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
    /* background-size: cover; */
    border-radius: 50px;
}

[dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
}

.name {
    font-weight: 400;
    font-size: 1em;
}

.listeners {
    /* display: inherit; */
    font-weight: 200;
}

mat-option {
    height: 60px;
}

@media screen and (max-width: 768px) {
    .listeners {
        display: none;
    }
}