.example-full-width {
    width: 100%;
    max-height: 74px;
}

.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
    background-size: cover;
    border-radius: 50px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    height: 40px;
    width: 40px;
}

[dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
}

.name {
    font-weight: 500;
    font-size: 1em;
    color: #363636;
}

.listeners {
    /* display: inherit; */
    font-weight: 500;
    color: #6c6c6c;
}

mat-option {
    height: 60px;
}

@media screen and (max-width: 768px) {
    .listeners {
        display: none;
    }
}