<div class="container">
    <mat-progress-spinner *ngIf="loading" mode="indeterminate" size="70"></mat-progress-spinner>
    <div class="card-container" *ngIf="fetchedArtist">
        <mat-card class="card">
            <div class="image-container" [ngStyle]="{'background-image':' url('+getImageUrl(fetchedArtist,5)+')'}">
                <div class="image-container-child" [ngStyle]="{'background-image': ' url('+getImageUrl(fetchedArtist,5)+')'}">
                </div>
            </div>


            <div class="img-text">
                <p class="bottom-left">{{fetchedArtist.name}}</p>
                <div class="bottom-right">
                    <p>{{addCommas(fetchedArtist.stats.listeners)}} listeners</p>
                    <p>{{addCommas(fetchedArtist.stats.playcount)}} plays</p>
                </div>
            </div>

            <div class="lists-container">
                <ul>
                    <p class="top-header">Top 5 albums</p>
                    <mat-card-header *ngFor="let album of topAlbums">
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{album.name}}</mat-card-title>
                        <mat-card-subtitle>{{addCommas(album.playcount)}} plays</mat-card-subtitle>
                    </mat-card-header>
                </ul>
                <mat-divider [vertical]="true"></mat-divider>
                <ul>
                    <h1 class="top-header">Top 5 tracks</h1>
                    <mat-card-header *ngFor="let track of topTracks">
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{track.name}}</mat-card-title>
                        <mat-card-subtitle>{{addCommas(track.playcount)}} plays</mat-card-subtitle>
                    </mat-card-header>
                </ul>
            </div>
        </mat-card>
    </div>
</div>