<!-- <div *ngIf="selectedArtist">
    <h3>You selected:</h3>
    <div>{{ selectedArtist.name }}</div>
    <div>MusicBrainz ID: {{ mbid }}</div>
</div> -->
<div class="container">
    <mat-progress-spinner *ngIf="loading" mode="indeterminate" size="70"></mat-progress-spinner>
    <div class="card-container" *ngIf="fetchedArtist">
        <mat-card class="card">
            <img>
            <div class="img-text">
                <p class="bottom-left">{{fetchedArtist.name}}</p>
                <div class="bottom-right">
                    <p>Listeners: {{nFormatter(fetchedArtist.stats.listeners,2)}}</p>
                    <p>Playcount: {{nFormatter(fetchedArtist.stats.playcount,2)}}</p>
                </div>
            </div>
            <!-- <div class="header-containter"> -->


            <!-- </div> -->
            <div class="lists-containter">
                <ul>
                    <p class="top-header">Top 5 albums</p>
                    <mat-card-header *ngFor="let album of topAlbums">
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{album.name}}</mat-card-title>
                        <mat-card-subtitle>Playcount: {{nFormatter(album.playcount,2)}}</mat-card-subtitle>
                    </mat-card-header>
                </ul>
                <mat-divider [vertical]="true"></mat-divider>
                <ul>
                    <p class="top-header">Top 5 tracks</p>
                    <mat-card-header *ngFor="let track of topTracks">
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{track.name}}</mat-card-title>
                        <mat-card-subtitle>Playcount: {{nFormatter(track.playcount,2)}}</mat-card-subtitle>
                    </mat-card-header>
                </ul>
            </div>
        </mat-card>
    </div>
</div>